# Entorno virtual
.venv/
venv/
env/

# Base de datos
*.db
*.sqlite
*.sqlite3

# Documentación interna


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Claude Code
.claude/

# Logs / temporales
*.log
*.tmp
